trigger:
  - main

variables:
  containerRegistry: "yourACR.azurecr.io"
  dockerRepository: "your-app"

pool: 
 name: Default

stages:
- stage: BuildAndPush
  displayName: Build & Push All Docker Images
  jobs:
  - job: build_push
    displayName: Build and Push Images
    strategy:
      matrix:
        service1:
          folder: "AddTaskTodoMicroservice"
          imageName: "addtask"
        service2:
          folder: "DeleteTaskTodoMicroservice"
          imageName: "deletetask"
        service3:
          folder: "GetTasksTodoMicroservice"
          imageName: "gettasks"
        service4:
          folder: "MicroUI"
          imageName: "ui"
    steps:
      - task: Docker@2
        inputs:
          containerRegistry: 'acr-connection'
          command: 'login'
      - task: Docker@2
        displayName: Build Docker Image
        inputs:
          command: build
          Dockerfile: '$(folder)/Dockerfile'
          repository: '$(imageName)'
          tags: |
            latest
            buildContext: '$(folder)'

      - task: Docker@2
        displayName: Push Docker Image
        inputs:
          command: push
          repository: '$(imageName)'
          tags: |
            latest  