trigger:
  - main

variables:
  containerRegistry: "yourACR.azurecr.io"
  dockerRepository: "your-app"

pool: 
 name: Default

stages:
- stage: BuildAndPush
  displayName: Build & Push All Docker Images
  jobs:
  - job: build_push
    displayName: Build and Push Images
    steps:
      - task: Docker@2
        displayName: Dockerlogin
        inputs:
          containerRegistry: 'acr-connection'
          command: 'login'
      - task: Docker@2
        displayName: dockerbuild
        inputs:
          containerRegistry: 'acr-connection'
          command: 'build'
          Dockerfile: '**/Dockerfile'
      - task: Docker@2
        displayName: dockerpish
        inputs:
          containerRegistry: 'acr-connection'
          command: 'push'